<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleuropa</title>
    
    <link rel="stylesheet" href="static/style.css"> 

</head>
<body>
    <header>
        <h1>Fleuropa</h1>
    </header>

    <nav>
        <a href="/">Accueil</a>
        <a href="/buy">Acheter</a>
        <a href="/tracking" class="tracking">Tracking</a>
        <a href="/connection" style="float: right;">Connexion</a>
    </nav>

    <div class="success-message">
        <h2>Déconnexion</h2>
        <p>Vous avez été déconnecté avec succès. Merci pour votre visite!</p>
    </div>

</body>
</html>
