<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivre votre commande</title>
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>


    <header>
        <h1>Fleuropa</h1>
    </header>

    <nav>
        <a href="/">Accueil</a>
        <a href="/buy">Acheter</a>
        <a href="/tracking" class="tracking">Tracking</a>
        
        {% if 'logged_in' in session and session['logged_in'] %}
        <a href="/deconnection" style="float: right;">Déconnexion</a>
        {% else %}
        <a href="/connection" style="float: right;">Connexion</a>
        {% endif %}
    </nav>


    <h2>Tracking Error</h2>
    <h2>Référence du commande: {{ ref_com }} n'existe pas, réessayez s'il vous plaît!</h2>
    
</body>
</html>
